@import "modules/grid";
@import "modules/breakpoint";

$grid-gutter-width: 10px;

$sm: breakpoint(sm, $grid-gutter-width: 20px);
$md: breakpoint(md, $grid-gutter-width: 30px);


@include grid-verbose-basics;
@include grid-verbose-dimensions;
@include grid-verbose-fraction;

@include breakpoint ($sm){
	@include grid-verbose-dimensions;
	@include grid-verbose-fraction('sm');
}

@include breakpoint ($md){
	@include grid-verbose-dimensions;
	@include grid-verbose-fraction('md');
}